body {
    font-family: Nunito, Arial, Helvetica, sans-serif;
      background: linear-gradient(#A8B5E0, #C1D5F0, #D5E3F0);

}

#navbar {
    background: #DAF0F7; 
    position: fixed; /*I want the nav menu to stay when I scroll*/
    top: 0px;
    width: 100%; /*takes the whole horizontal spacing */
}

* {
    margin: 0; 
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; 
    justify-content: flex-end; /*moves content of navbar to the right side of the screen (my right)*/ 
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar a {
    color: black;
    text-decoration: none; 
}

#navbar a:hover {
    color: pink;
}


h1 { /*I want all Headings to be in the middle*/
    text-align: center;
}

#welcome {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /*allows the welcome texts to sit on top of each other*/
    text-align: center; 
    justify-content: center;
}

#welcome h1 {    
    font-size: 82px;
    margin-bottom: 10px;
}

#welcome p { /*this is the "I am an aspiring" sentence*/
    font-size: 2em; 
    text-align: center;
}

#view-project-button { /*this is the View my Projects Button*/
    display: flex;
    width: 150;
    justify-content: center;
    align-items: center;
    background: beige;
    padding: 10px;
    border: 5px solid transparent;
    border-radius: 50px;
    margin: 20px auto 0; 
}

#view-project-button a {
    text-decoration: none; 
    color:black;
}

#view-project-button a:hover {
    color: pink;
}

#about {
    border-top: 5px solid #C8D9F0;
}

#about h1 {
    font-size: 48px;
}

#about-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#about-left-column {
    flex: 1; 
    width: 50%;
    padding-left: 15px;
}

#about-left-column p {
    font-size: 18px;
}

#about-right-column {
    width: 20%;
    line-height: 23px;
}

.skill-button {
    background-color: beige;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    width: 100px;
}

#projects h1 { 
    font-size: 48px;
}

#projects {
    margin-top: 50px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*creates 3 columns*/
    gap: 30px;  /*adds spacing between the columns*/
    min-height: 25vh;
}

.project-tile {
    border: 5px solid black; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    margin: 15px 5px; /*15 top-bottom and 5 left-right*/
}

.project-title {
    flex: 1;
    padding-left: 5px;
}

.project-title a{ 
    color: black;
}

.project-title a:hover {
    color: pink;
}

.project-image { /*this is NOT the image itself, if you want to make edits*/
    flex: 1;
}

.project-image img { /*this is about the image of the project iself*/
    max-width: 100%; /*makes image stay in container*/
    object-fit: cover;
}

/*contacts section*/
#contacts {
    position: relative;
    text-align: center; 
}

#contacts h1 {
    font-size: 36px;
}

#contacts a {
    font-size: 18px;
}

#contacts a:hover{
    color: pink;
}

/*added for phone*/
@media (max-width: 767px) {
    nav {
        display: none; /*hide the nav-menu when on phone*/
    }

}
